html body{
    /* background-color: aquamarine; */
    height: 100%;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.342);
}
.div-main{
    display: flex;
}
/* .left-container{
    display: block;
    width: 20%; 
}  */

.side-div{
    background-color: rgb(0, 153, 255);
    display: inline-block; 
    padding-top:10px;
    width: 20%; 
    height: 100%;
    position: absolute;
   
}
.side-div ul{
     list-style: none;
     color: white;
     font-weight: 700;

}

.right-container{
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: absolute;
    left: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Three columns with equal width */
    grid-template-rows: auto; /* Automatically adjust row height */
    gap: 10px; /* Gap between grid items */
  }
  
.grid-item {
    background-color:white;
    border-radius: 10px;
    padding: 10px;
    height: 230px;
    width: 150px;
  }

.brand-tag{
    display: flex;
    padding: 0px;
}

.product-details{
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
    justify-content: center;
}

.product-details p{
    margin: 0;
    font-weight: 200;
}
.product-details span{
    font-weight: 600;
}
.product-details button{
    background-color:rgb(0, 153, 255);
    border-color:rgb(0, 153, 255);
    border-radius: 10px;
    color: white;
    width: 130px;
}


.product{
   
    /* width: 50%; */
    /* height: 60%; */
    /* left: 25%; */
    /* top: 20%; */
    /* position:absolute; */
    /* border-radius: 10px; */
    padding-left: 20px;

}

.product img{
    border: 2px solid grey;
    left: 10%;
    /* position: absolute; */
    height: 220px;
    padding-top: 10px;
    border-radius: 10px;


}