<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'business/customercss.css' %}" rel="stylesheet" />
    <title>Customer</title>
  </head>
  <body>
    <div class="div-main">
      <!-- <div class="left-container"> -->
      <div class="side-div">
        <ul>
          <li>
            <p>My Profile</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
          <li>
            <p>My Order</p>
          </li>
          <hr />
        </ul>
      </div>
      <!-- </div> -->
      <div class="right-container">
        <div class="grid-container">
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div>
                 <a href="productview.html">
                  <button>View</button>
                 </a>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button onclick="openPopup()">View</button></div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button>View</button></div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button>View</button></div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button>View</button></div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button>View</button></div>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="">
              <img
                src="css/phon2.jfif"
                alt="Description of the image"
                width="130"
                height="120"
                title="Image title"
              />
              <div class="product-details">
                <div>
                  <p><span>Brand: </span>Samsung</p>
                </div>
                <div>
                  <p><span>Price: </span>100000</p>
                </div>
                <div><button>View</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function openPopup() {
      window.open("{% url 'productview' %}", "Popup", "width=600,height=600");
    }
  </script>
</html>
